<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <%= erb :head %>
    <body>
        <h1>Your feed</h1>
        <a href="/login">< login ></a>
        <p>
            An introduction to the site
        </p>
    </body>
</html>
