<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Your Feed</title>
    </head>
    <body>
        <main>
            <h1>Welcome <%= username %></h1>

            <form method="POST" id="article" action="/submit">
                <input type="text"
                       name="article"
                       placeholder="Article here"
                />
            </form>

            <h1> <%= error %> </h1>

            <form method="POST" id="logout" action="/logout">
                <input type="submit" name="logout" value="logout" />
            </form>
        </main>
    </body>
</html>
