<html>
    <%= erb :head %>
    <body>
        <main>
            <h1>Your feed</h1>
            <h2>Login</h2>
            <form method="POST" id="login" action="/login">
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password" />
                <input type="submit" value="Submit">
            </form>
            <h2>Register</h2>
            <form method="POST" id="register" action="/register">
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password" />
                <input type="submit" value="Submit">
            </form>

            <%= error %>
        </main>
    </body>
</html>
